<footer class="footer">
  <div class="container">
    <ul class="navbar-nav navbar-left">
      <li>&copy; 2018 Circle, Inc.</li>
      <li><%= link_to 'Terms', terms_path %></li>
      <li><%= link_to 'Privacy', terms_privacy_policy_path %></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</footer>