<div class="container content">
 
  <% if (!user_signed_in?) %>
    <div class="banner">
      <h3 class="text-center">Bookable gyms for Personal Trainers and their Clients.</h3>  
    </div>
  <% end %>

  <!-- Gyms -->
  <div><h4 class="text-babu"><strong>Gyms</strong></h4></div>
  <br>

  <div class="row" id="gym_listing">
    <%= render partial: "gyms/gyms_list", locals: {gyms: @gyms} %>
  </div>
</div>


