<div class="container content">
 
  <div class="banner">
    <h3 class="text-center">Bookable gyms for Personal Trainers and their Clients.</h3>  
  </div>

  <!-- Gyms -->
  <div><h4>Gyms</h4></div>
  <br>

  <div class="row" id="gym_listing">
    <%= render partial: "gyms/gyms_list", locals: {gyms: @gyms} %>
  </div>
</div>


