<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <br>
      <aside class="visible-md visible-lg">
        <ul class="about no-bullet">
          <li class="sidebar-item"><p><%= link_to "How it Works", how_it_works_path, class: "sidebar-link active" %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "For Gyms", how_it_works_for_gyms_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "For Trainers", how_it_works_for_trainers_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "For Clients and Guests", how_it_works_for_clients_and_guests_path %></p></li>

        </ul>
      </aside>
    </div>
    <div class="col-md-6">
      <h2 class="visible-md visible-lg text-center">How it Works</h2>
      <h2 class="visible-xs visible-sm text-center">How it Works</h2>
      
      <br>
      <div>
        <center>
          <div class="numberCircle">1</div> 
          <br> 
          <p>Gym (Host) creates two listings - one for Trainers and another for Clients and Guests.</p>
          
          <br>
          
          <div class="numberCircle">2</div> 
          <br> 
          <p>Trainer sends a booking request to Gym. Gym reviews Trainer's credentials and either approves or declines the Trainer's booking request.</p>
          
          <br>
          
          <div class="numberCircle">3</div> 
          <br> 
          <p>If a Trainer's booking request is approved, the Trainer has access to the Gym for the day requested in the booking.</p>
          
          <br>
          
          <div class="numberCircle">4</div> 
          <br> 
          <p>Trainer directs Client(s) to Gym's listing for Clients and Guests where Clients can make an instant (does not require Gym approval) booking for the day that corresponds with the Trainer's booking. Each Client must create a booking in order to access the Gym.</p>
          
          <br>
          
          <div class="numberCircle">5</div> 
          <br> 
          <p>On the day of the booking, the Trainer checks in at the front desk and presents their credentials to the staff. The Trainer will meet each Client at the front desk for check in.</p>
        </center>
      </div>
    </div>
  </div>
</div>