$white:                           #ffffff;
$black:                           #000000;
$dark:                            #484848;
$medium:                          #767676;
$light:                           #9a9da4;
$primary:                         #4285f4;
$secondary:                       #34a853;
$tertiary:                        #fbbc05;
$quaternary:                      #ea4335;
$grey:                            #e8e8e8;
$border:                          #dce0e0;
$background:                      #f0f3f5;
$facebook:                        #3b5998;

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark;
  
  li a {
    list-style: none;
  }
  
  a {
    color: $primary;
  }
  
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: $primary;
  }

  a:active {
    text-decoration: none;
  }
  
  .sidebar-link.active{
    color: $dark !important;
    font-weight: 600 !important;
  }
}

.text-babu, .icon-babu {
  color: $primary;
}

p {
  font-weight: 300;
}

.capital {
  text-transform: uppercase;
}

.faq-list {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 3px solid $border;
  
  h1 {
    font-size: 2.2em;
  }
  
  .panel {
    box-shadow: none;
  }
  
  .panel-heading {
    border: none;
  }
  
  h3 {
    text-transform: uppercase;
  }
  
  .panel-title {
    color: $secondary;
  }
}

.why-host {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 3px solid $border;
  border-bottom: 3px solid $border;
  margin-top: 70px;
  
  p {
    font-weight: 300;
  }
}

.how-to {
  background-color: $white;
  min-height: 750px;
  border-bottom: 3px solid $border;
  padding-top: 50px;
  padding-bottom: 50px;
  
  .pic {
    padding-bottom: 50px;
  }
}

.number {
  font-size: 3em;
  color: $tertiary;
}

.start-hosting {
  padding-top: 50px;
}

.no-bullet {
  li {
    list-style: none !important;
    text-decoration: none !important
  }
}


/* Container */
.container {
  width: 98%;
}

.container.content {
  min-height: 680px;
  padding-top: 50px;
}


/* Separator */
.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:$dark;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: $border;
    width: 50%;
    height:1px;
    margin: 0 10px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid $border;
}


/* Navbar */
.navbar {
  background-color: $white;
  
  .dropdown-menu hr {
    margin: 8px;
  }
}

.navbar-default {
  background-color: $white !important;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid $border;
}

.navbar .navbar-nav li a {
  font-weight: 400;
  vertical-align: middle !important;
}

.navbar-default .navbar-brand {
  color: $primary;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 8px;
  
  &:hover {
    color: $primary;
  }
}

.navbar-default .navbar-brand.user {
  color: $primary;
  font-weight: 700;
  margin-top: 8px !important;
  
  &:hover {
    color: $primary;
  }
}

.navbar-default .guest li a{
  margin-top: 8px;
}

.dropdown-menu > li > a:hover {
  background-color: $white;
  background-image: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: none;
} 

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $white;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus,
.navbar .navbar-nav > li.open > a:active {
  background-color: $white;
}


/* Footer */
.footer {
  width: 100% !important;
  margin-top: 100px;
  border-top: 1px solid $border;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 0.85em;
  max-height: 250px;
  
  li {
    padding-right: 20px;
    padding-bottom: 5px;
  }
}


/* Buttons */
.btn.btn-default {
  font-size: 0.9em;
  min-width: 100%;
  font-weight: 400;
  background: $white;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.btn.btn-submit {
  height: 3.5em;
  font-weight: 500;
  background-color: $primary !important;
  color: $white;
  padding: 13px;
}

.btn.btn-save {
  padding: 10px 25px 10px 25px;
}

.btn.btn-facebook {
  height: 3.5em;
  font-weight: 500;
  background-color: $secondary !important;
  color: $white;
  padding: 14px;
}

.btn.btn-update {
  font-size: 0.9em;
  color: $white;
  font-weight: 400;
  background: $primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.btn.btn-default.btn-host {
  margin-top: 17px;
}

.btn.btn-start {
  border: 2px solid $primary;
  background-color: $primary !important;
  color: $white;
  padding: 10px 25px 10px 25px;
  font-size: 1.2em;
  font-weight: 500;
}

.btn.btn-start:hover {
  background: $primary;
  color: $white;
}


/* Panel */
.panel.panel-default {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid $border;
}


/* Input */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3.5em;
  border: 1px solid $border;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-weight: 300;
}

textarea {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border: 1px solid $border !important;
}

input[type="submit"], .button {
  outline: none;
  background: $primary;
  border: 2px solid $primary;
  width: auto;
  height: 3em;
  text-align: center;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
      border: 2px solid $primary;
      background: $primary;
      color: $white;
  }
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus {
  border: 1px solid $primary !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  outline: 0 none;
  background-color: $white;
}

label {
  color: $dark;
  font-weight: 600;
  margin-bottom: 10px;
}

select {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 1px solid $border;
  padding: 0.5em;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  padding: 0.5em 0.5em;
  margin: .25em 0 .25em 0;
  background-color: $white;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

.select:before {
  content: '\25bc';
  position: absolute;
  color: $dark;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid $border;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
  content: "\2714";
  position: absolute;
  text-align: center;
  width: 1.25em;
  color: $primary;
}

.input-group .form-control {
    margin: 0px !important;
}


/* Avatar */
.avatar-tiny {
  width: 20px;
  border: 1px solid $border;
}

.avatar-small {
  width: 35px;
  border: 2px solid $border;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}


/* Alert */
.alert {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.alert {
  text-align: center;
  margin-bottom: 0px;
  list-style: none;
  border: none;
}

.alert.devise{
  text-align: center;
  margin-bottom: 20px;
  list-style: none;
  border: 2px solid $primary;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


/* Sidebar */
.sidebar-list {
  padding: 0;
  list-style: none;
}

.sidebar-item {
  padding: 5px 0;
  color: $medium;
}

.sidebar-link {
  color: $medium;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: $light;
  text-decoration: none;
}

.active.sidebar-link {
  color: $dark;
  font-weight: bold;
  text-decoration: none;
}


/* Forms */
.form-group select {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  top: 45px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="radio"] {
  height: 15px;
  margin-right: 10px;
}


/* Photo Upload */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: $white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 5px;
  background-color: $white;
}

.panel-heading.preview img {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: transparent;
  box-shadow: none;
}


/* Reservations */
.reservation-table td {
  width: 100%;
  border: none;
  border-bottom: 1px solid $border;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: $secondary;
  background-color: white;
  border: 1px solid $border;
  text-align: center;
}

.message-alert {
  color: $quaternary;
  font-size: 14px;
  padding-top: 10px;
}


/* Search */
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 20px 20px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}


/* Calender */
.fc-content.Waiting {
  background-color: $tertiary;
}

.fc-past {
  background-color: lightgrey;
}

.fc-day {
  position: relative;
}

.fc-content {
  background-color: $secondary;
  height: 35px;
  border-radius: 50px;
}

.fc-event {
  border: none !important;
  background-color: transparent !important;
}

.fc-title {
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 20px;
}

.day-price {
  position: absolute;
  color: $secondary;
  bottom: 2px;
  right: 2px;
}

.badge {
  background-color: $primary;
  position: relative;
  top: -10px;
  left: -5px;
}


/* Payment Form */
#add-card form {
  width: 480px;
  margin: 20px auto;
}

#add-card label {
  position: relative;
  color: $medium;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#add-card label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 5px;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: $primary;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: $quaternary;
}

